# Exercise 1

In [5]:
first_name = "luca"

print(first_name)
print(first_name.title())
print(first_name.upper())

luca
Luca
LUCA

In [16]:
print(7 + 10 * 3 / 100 ** 3)
print((7 + 10) * 3 / 100 ** 3) 

a = .000051

a, a

7.00003
5.1e-05

(5.1e-05, 5.1e-05)

In [4]:
.1 + .2

0.30000000000000004

# Exercise 2

In [8]:
careers = ["truck driver", "programmer", "plumber", "ice creamer"]

# index
print(careers.index("ice creamer"))

# in
print("frozen yogurther" in careers)

# append
# print(careers.append("lawyer"))
careers.append("lawyer")
print(careers)

# insert
careers.insert(2, "professor")
print(careers)

for banana in careers:
    print(banana)

3
False
['truck driver', 'programmer', 'plumber', 'ice creamer', 'lawyer']
['truck driver', 'programmer', 'professor', 'plumber', 'ice creamer', 'lawyer']
truck driver
programmer
professor
plumber
ice creamer
lawyer

In [25]:
careers = ["truck driver", "plumber", "ice creamer", "programmer"]
print(careers)

# alphabetical order
sorted_careers = sorted(careers)
print(sorted_careers)
# print(sorted(careers))

# print original order
print(careers)

# print reverese alphabetica order
print(list(reversed(sorted_careers)))

# print original order
print(careers)

# print reverse original order
print(list(reversed(careers)))

print("----")
careers.sort()
print(careers)

careers.reverse()
print(careers)

['truck driver', 'plumber', 'ice creamer', 'programmer']
['ice creamer', 'plumber', 'programmer', 'truck driver']
['truck driver', 'plumber', 'ice creamer', 'programmer']
['truck driver', 'programmer', 'plumber', 'ice creamer']
['truck driver', 'plumber', 'ice creamer', 'programmer']
['programmer', 'ice creamer', 'plumber', 'truck driver']
----
['ice creamer', 'plumber', 'programmer', 'truck driver']
['truck driver', 'programmer', 'plumber', 'ice creamer']

In [26]:
careers

['truck driver', 'programmer', 'plumber', 'ice creamer']

In [27]:
copied_careers = careers

In [28]:
del copied_careers[0]
copied_careers

['programmer', 'plumber', 'ice creamer']

In [29]:
careers

['programmer', 'plumber', 'ice creamer']

# Exercise 3

In [2]:
# multiples of 10
multiples = [number * 10 for number in range(1, 11)]
multiples

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [3]:
plus_thirteen = [number + 13 for number in range(1, 11)]

# work backward!

plus_thirteen = []

for number in range(1, 11):
    plus_thirteen.append(number + 13)

plus_thirteen

[14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

# Exercise 4

In [8]:
sentence = "Hello Python"

# in

# find

# rfind

# count

# split

# replace

# Exercise 5

In [7]:
mountains = {
    "k2": 8611,
    "lhotse": 8516,
    "kangchenjunga": 8586,
    "everest": 8848,
}

In [8]:
# for key in mountains.keys():
for key in mountains:
    print(key)

for height in mountains.values():
    print(height)

for name, height in mountains.items():
    print(f"{name} is {height} meters high")
    # print(name + " is " + height + " meters high")

k2
lhotse
kangchenjunga
everest
8611
8516
8586
8848
k2 is 8611 meters high
lhotse is 8516 meters high
kangchenjunga is 8586 meters high
everest is 8848 meters high

In [9]:
for name in sorted(mountains):
    print(f"{name} is {mountains[name]} meters high")

everest is 8848 meters high
k2 is 8611 meters high
kangchenjunga is 8586 meters high
lhotse is 8516 meters high

In [14]:
sorted(["A", "a", "B", "b", "C", "c", "ðŸ˜´"])

['A', 'B', 'C', 'a', 'b', 'c', 'ðŸ˜´']

In [4]:
a = list(range(1, int(10e6)))
%timeit _ = 0 in a

60.4 ms Â± 737 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [5]:
a = set(list(range(1, int(10e6))))
%timeit _ = 0 in a

33.6 ns Â± 0.502 ns per loop (mean Â± std. dev. of 7 runs, 10,000,000 loops each)

In [10]:
mountains

{'k2': 8611, 'lhotse': 8516, 'kangchenjunga': 8586, 'everest': 8848}

In [11]:
heights = {v: k for k, v in mountains.items()}
heights

{8611: 'k2', 8516: 'lhotse', 8586: 'kangchenjunga', 8848: 'everest'}

In [ ]:
words = {
    "banana": ["yellow color", "berry fruit"], 
    "Guardians of the Galaxy": "terrible",
}